<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {background-color:hotpink;font-weight: bold;font-size: large;}
  </style>
</head>
<body>
  
  <div id="print" contenteditable="true"></div>
  <script>
    async function f() {
      let url='https://MyOwnPlanServer.iostream1204.repl.co/Article/'+{{value}}
      await fetch(url)
        .then(response =>response.json())
        .then(response=>{
        var Content=document.getElementById('print');
        Content.innerHTML=response;
        })
      

    }
    

f()
  </script>
</body>
</html>