<!DOCTYPE html>
<html lang="en">
<head>
  
  <script src="static/Home.js"></script>
  <link rel="stylesheet" href="static/Home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>게시판</h1>
  <form>
    <button id="Top">게시판</button>
  </form>
  <form>
    <button id="Top">계획표</button>
  </form>
  <form action="https://MyOwnPlanServer.iostream1204.repl.co/Write">
    <button id="Last_Top">글쓰기</button>
  </form>
  
  <div>
    <h1 id='Lists'>목록</h1>
    
  </div>
   
  
</body>
</html>