<!DOCTYPE html>
<html lang="en">

<head>
    <script src="static/Log_In.js"></script>
    <link rel="stylesheet" href="static/Log_In.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div style="text-align: center;">


        <img src="static/Assets/Logo.png">

        <div class="Log_In">
            <form method="post" action="https://MyOwnPlanServer.iostream1204.repl.co/Home" id="User_Info">
            <h3 id="Marzine"></h3>

                <div><input id="Id" name ="Id" type="text" placeholder="Input your Id" onkeypress="Check()"></div>

            <h3 id="Marzine"></h3>

                <div><input id="Pw" name ="Pw" type="password" placeholder="Input your Password" onkeypress="Check()"></div>
            
            </form>
        </div>
        <form></form>
    </div>

</body>

</html>